.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8), 
                                                       rgba($color-primary-dark,0.8)),
                                                       url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    margin: 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
}
/** position relative is given to the header element as we wanted to use position absolute
                        to the child element **/

.logo-cont {
    position: absolute;
    top: 3rem;
    left: 3rem;
}
.Logo {
    height: 3.5rem;
}